extends layout

block content

  div
    label TITLE : !{article.title}
  div
    label URL : !{article.url}
  div
    label AUTHOR : !{article.author}
  div
    label DESCRIPTION : !{article.description}
        